.header {
  background-color: var(--color-principal);
  padding: 0.625rem 1.25rem;
}

.nav {
  display: flex;
  gap: 1rem;
}
.navLink {
  color: aliceblue;
  font-weight: bold;
  text-decoration: none;
}
.NavLink:hover {
  text-decoration: underline;
}
.logoutButton {
  background-color: #289b6d; /* rojo */
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.logoutButton:hover {
  background-color: #18533b;
}

.navText {
  margin-right: 1rem;
  color: #93c5fd;
}
