#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;

  padding: 1rem; /* Opcional */
  background-image: url("../src/assets/fondo-register2.jpg");
  background-repeat: no-repeat; /* para que no se repita */
  background-size: cover; /* para que cubra todo el contenedor */
  background-position: center center; /* para centrar la imagen */
  background-attachment: fixed; /* opcional, para que la imagen quede fija */
}
