@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-principal: #4a90e2;
  --color-fondo: #f9f9f9;
  --fuente-principal: "Arial", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--fuente-principal);
  background-color: var(--color-fondo);
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  color: var(--color-principal);
}

a {
  color: var(--color-principal);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
